* {
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
}
 
/* heading portion of the card */
#heading {
    font-weight: 700;
}

/*text contentvportion of the card*/
#text {
    font-size: 15px;
    color: hsl(212, 45%, 89%);
   
   /* font weight and color dont work 
    font-weight: 400;
    color: hsl(212, 45%, 89%); */

    
}

/* QR card border */
#border {
    border: 15px white solid;
}



/* Imports outfit font */ 
@font-face {
    font-family: Outfit;
    src: url(font/Outfit-VariableFont_wght.ttf);
}