* {
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
}
 
/* heading portion of the card */
#heading {
    font-weight: 700;
}

/*text content portion of the card*/
#text {
    font-size: 15px;
    color: hsl(212, 45%, 89%);
   font-weight: 400;
}

/* QR card border */
#border {
    border: 15px white solid;
}

#top {
    /*removed the gray border around the image */
    border: transparent;
}

#bottom {
    border: transparent;
}







/* Imports outfit font */ 
@font-face {
    font-family: Outfit;
    src: url(font/Outfit-VariableFont_wght.ttf);
}